{% extends 'base.html.twig' %}

{% block title %}
	Penn Ar Bed Solidarité
{% endblock %}


{% block body %}
	<main class="container">
		<section class="row" id="contact">
			<h1>
				Proposer un partenariat
			</h1>
			{# <div class="col-12  text-center">
							<h2 class="fs-2 text-uppercase text-secondary my-3">Contact</h2>
						</div>
						<div class="col-11 m-auto alert alert-danger mb-3" role="alert">
							{{ form_start(form) }}
							<div class="mb-3 text-uppercase">
								{{ form_row(form.email) }}
							</div>
							<div class="mb-3 text-uppercase">
								{{ form_row(form.subject) }}
							</div>
							<div class="mb-3 text-uppercase">
								{{ form_row(form.message) }}
							</div>
							<div class="mb-3 text-uppercase text-center">
								{{ form_row(form.send) }}
							</div>
							{{ form_end(form) }}
						</div> #}
		</section>
	</main>
{% endblock %}

