{% extends 'base.html.twig' %}

{% block title %}
	Penn Ar Bed Solidarité
{% endblock %}


{% block body %}
	<main class="container">
		<section class="row" id="contact">
            <div class="text-center">
				<h1 class="fs-1 text-uppercase">Dévenir volontaire</h1>
            </div>
			<div class="mt-3">
				{{ form_start(form) }}
					{{ form_row(form.firstName) }}
					{{ form_row(form.lastName) }}
					{{ form_row(form.email) }}
					{{ form_row(form.message) }}
					<div class="text-center">
						{{ form_row(form.Envoyer) }}
					</div>
				{{ form_end(form) }}
			</div>
		</section>
	</main>
{% endblock %}

